@{
    ViewBag.Title = "About";
}
    <body class="bg-dark">
        <h2 class="text-white">@ViewBag.Title.</h2>
        <p class="text-info">The Game Logger is an application to keep track of your favorite games you have played.</p>
    </body>