@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>Richard Robertson</h4>
<address>
    <strong>Email:</strong> <a href="mailto:Rober260@mail.nmc.edu">Rober260@mail.nmc.edu</a><br />
    <strong>LinkedIn:</strong>   <a href="Https:\\linkedin.com/in/richrobertson23">LinkedIn.com/richrobertson23</a><br />
    <strong>Github:</strong> <a href="https:\\www.Github.com/Ricie23">Github.com/Ricie23</a>
</address>