@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>Richard Robertson</h4>
<address>
     <a href="mailto:Rober260@mail.nmc.edu"><i class="far fa-envelope" style="color:black; font-size:larger"></i> Rober260@mail.nmc.edu</a><br />
    <a href="Https:\\linkedin.com/in/richrobertson23"><i class="fab fa-linkedin" style="color:black; font-size:larger"></i> LinkedIn.com/richrobertson23</a><br />
    <a href="https:\\www.Github.com/Ricie23"><i class="fab fa-github" style="color:black; font-size:larger"></i> Github.com/Ricie23</a>
</address>